* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

html {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
  font-size: medium !important;
}

h1{
  font-size: 1.5rem !important;
}
h3{
  font-size: 1.3rem !important;
}
.badge {
  font-size: 0.9rem;
}

li {
  font-weight: normal !important;
  list-style: none;
}

.jumbotron {
  padding: 30px !important;
  margin: 0 !important;
  width: 100%;
  background-color: #e3e3e3 !important;
}

.bg-light {
  background-color: #e3e3e3 !important;
}

.content {
  padding-top: 25px;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 22%;
  margin: 10px;
  margin-bottom: 20px !important;
}

.card-body{
  padding: 0 15px 10px 15px;
}

.card-title {
  margin-bottom: 5px;
}

.list-group-item{
  padding: 10px 15px 10px 15px;
}

a,a:hover {
  color: inherit;
  text-decoration: none;
}
form {
  width: 70% !important;
}

input {
  height: 48px !important;
  background-color: #f7f7f7 !important;
  color: #434343 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal !important;
  font-size: 14px !important;
  z-index: 2;
}

.form-group {
  width: 100% !important;
}

button {
  cursor: pointer;
}

.lupa {
  max-height: 48px;
}

.nav-link {
  font-weight: bold;
}
.nav-link:hover {
  background-color: rgb(153, 153, 153) !important;
}

.is-active {
  background-color: rgb(153, 153, 153) !important;
}

.list {
  margin: 1.7px;
}

.react-autosuggest__container {
  position: relative;
  border: 0;
}

.react-autosuggest__input {
  height: 48px !important;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  border: 0;
  padding: 12px 24px 12px 24px;
  background-color: #f7f7f7 !important;
  color: #434343 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal !important;
  font-size: 14px !important;
  z-index: 2;
}

.react-autosuggest__input:focus {
  outline: 3.8px solid darkgray;
}

.react-autosuggest__input--open {
  padding: 12px 24px 12px 24px;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  color: #434343 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal !important;
  font-size: 14px !important;
  z-index: 2;
}

::placeholder{
  color: #909090 !important;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 12px 24px;
  height: 48px;
  background-color: #f7f7f7 !important;
}

.react-autosuggest__suggestion:hover {
  background-color: #d4d4d4 !important;
}

.react-autosuggest__suggestion--highlighted {
}


@media only screen
and (min-width: 0px)
and (max-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {

  .card {
    width: 100%;
    margin-left: 15px;
    margin-right:15px;
    margin-bottom: 30px;
  }

  .jumbotron {
    padding: 15px !important;
    margin: 0 !important;
    width: 100% !important;
  }

  form {
    width: 100% !important;
  }
  .btn {
    width: 100% !important;
  }
  .mobile{
    padding: 10px
  }
}
